<li class="order">
    <div class="order__label">
        Ряд {{rowNumber}}, 
        место {{seatNumber}}
    </div>
    <div class="order__price">
        {{price}} ₽
    </div>
</li><!--.order-->
