//
// App
//

.app {
    padding: 2.5rem 1rem 3.5rem;
}
.app__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: .01em;
    margin: 0;
    text-align: center;
}
.app__statuses {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.app__order-block {
    margin-top: 2rem;
}